<html>
  <head>
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  </head>
  <body>
    <p>Hello world from Git</p>
    {% section 'header' %}
    {{ content_for_layout }}
  </body>
</html>